
<!DOCTYPE html >
<html lang="en">
<head>
<title>GIM</title>


<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="background-container">
<!------------------menu_section_start---------->
<header>
<section id="home" class="menu">
<div class="container">
<div class="row">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/logo.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a class="page-scroll" href="#home">Home</a></li>
			<li><a class="page-scroll" href="/order">Order</a></li>
			<li><a class="page-scroll" href="#about">About Us</a></li>
			<li><a class="page-scroll" href="#" data-toggle="modal" data-target="#myModal">Login/Register</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>
</div>
</section>
<section class="bg">
  <div class="container">
    <div class="row">
	  <div class="col-md-6 col-md-offset-6 text-right">
	     <img src="images/like_logo.png"  alt="#"/>
		 <h3>Tension Tempo</h3>
		 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
	  </div>
	</div>
  </div>
</section>
</header>
<!-----------------------header-end---------------------------------------------------->
<!-- about us start -->


<section  id="about" class="content">
  <div class="container">
     <div class="row">
	   <div class="col-sm-12 text-center content_box1 gap_upper">
	      <h1>About Tension Tempo</h1>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>		  
	   </div>
	   <div class="col-sm-10 col_centered">
	      <div class="col-sm-6 img_height no_pad wow slideInLeft animated" style="visibility: visible;">
		     <img src="images/img_1.jpg" alt="#"/>
		  </div>
		  <div class="col-sm-6 box_height text-center wow slideInRight animated" style="visibility: visible;">
		    <div class="img_text">
			   <p><i class="fa fa-trophy" aria-hidden="true"></i></p>
               <h3>Lorem Ipsum</h3>
			   <p>We offer quality tiling and painting solutions for interior</p>
			   <a href="#">Buy Now <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			</div>
		  </div>
		  <div class="col-sm-6 box_height text-center wow slideInLeft animated" style="visibility: visible;">
		    <div class="img_text">
			    <p><i class="fa fa-compass" aria-hidden="true"></i></p>
			    <h3>Lorem Ipsum</h3>
                <p>Contrary to popular belief Lorem Ipsum is not simply random	</p>
			    <a href="#">Buy Now <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			</div>
		  </div>
		  <div class="col-sm-6 img_height no_pad wow slideInRight animated" style="visibility: visible;">
		     <img src="images/img_2.jpg" alt="#"/>
		  </div>
		  <div class="col-sm-12 text-center gap_upper">
		      <button type="button" class="btn btn-warning btn-lg">Get Started</button>
		  </div>
	   </div>
	 </div>
  </div>
</section>
<!--------------------- aboutus-end  -->
<div class="footer2" style="min-height: calc(100vh - 64px);">
<div class="absolute">
<section class="footer">
   <div class="container">
     <div class="row">
	   <div class="col-md-7 gap_upper">
	     <div class="gap_upper1">
	   <h5>More power<br>behind every ride.</h5>
	   <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi  consequat. </p>
	   <ul class="list-inline list-unstyled app-icon">
		 <li><a href="#"><img src="images/app_store.png"/></a></li>
		 <li><a href="#"><img src="images/google_app.png"/></a></li>
		 </ul>
		 </div>
	   </div>
	   <div class="col-md-3 col-md-offset-2  img_size">
	     <div class="gap_upper2">   
	     <img src="images/phone.png" alt="#"/>
		 </div>
	   </div>
	 </div>
    </div>
</section>
<!-------------------footer-start------------------>
<footer>
<section class="footer_bottom">
   <div class="container">
     <div class="row">
	   <div class="col-md-3 col-sm-3 col-xs-3">
	     <img src="images/like_logo2.png" alt="#"/>
	   </div>
	   <div class="col-md-6 text-center col-sm-6 col-xs-9 text_right">
	         <ul class="list-unstyled list-inline social-icon">
	          <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			  <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			  <li class="pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
	        </ul>
	   </div>
	   <div class="col-md-3 col-sm-3 col-xs-12 text-center">
	     <p>Copyright © 2017  Tension Tempo. All rights reserved.</p>
	   </div>
	 </div>
   </div>
</section>
</footer>
<!----------------------------footer-end---------------------------------------------------------------------------------------------------------------------->
</div>
</div>
</div>
<!-------------------------------login-popup-modal-box-start-------------------------------------------------------------------------------------------------->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog1">
    <div class="modal-content model1">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
       <div class="modal-body">
	    <div class="col-lg-10">
		  <div class="col-md-12">
         <h3>LOG IN <br> TO YOUR ACCOUNT</h3>
         </div>
	 	<form method="post" action="/login">
         	<div class="col-md-12">
            	<div class="form-group">
			   		<input type="email" class="form-control" name="email" value="" size="40" required="" aria-required="true" aria-invalid="false" placeholder="Email">
				</div>
		 	</div>		 
      	<div class="col-md-12">
<div class="form-group">
   <div class="input-group">
            <input type="password" class="form-control" name="password" value="" size="40" required="" aria-required="true" aria-invalid="false" placeholder="password" />
            <span class="input-group-addon"><input type="submit" value="&#xf061"></input></span>
            </div>
     </div>	 	</div>
	 	<div class="col-md-12">
		<p><a href="#">Forgot Password?</a></p>
		<h4><a href="#" data-toggle="modal" data-target="#myModal1">OR CREATE NEW ACCOUNT</a></h4>
		 </div>
		 </form>
       </div>
      </div>
    </div>
  </div>
</div>
<!-------------------------------login-popup-modal-box-end--------------------------------------------------------------------------------------------------->
<!-------------------------------register-popup-modal-box-start---------------------------------------------------------------------------------------------->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog2">
    <div class="modal-content model1">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
	    <div class="col-lg-10">
		  <div class="col-md-12">
         <h3>REGISTER</h3>
         </div>
		 <form method="post" action="/signup">
         <div class="col-md-12">
            <div class="form-group">
			   <input type="text" class="form-control" name="fullName" value="" size="50" required="" aria-required="true" aria-invalid="false" placeholder="User Name">
			</div>
		 </div>
         <div class="col-md-12">
            <div class="form-group">
			   <input type="email" class="form-control" name="email" value="" size="40" required="" aria-required="true" aria-invalid="false" placeholder="Email">
			</div>
		 </div>
          <div class="col-md-12">
            <div class="form-group">
			   <input type="password" class="form-control" name="Password" value="" size="40" required="" aria-required="true" aria-invalid="false" placeholder="Password">
			</div>
		 </div>		 
          <div class="col-md-12">
<div class="form-group">
   <div class="input-group">
            <input type="password" class="form-control" name="password" value="" size="40" required="" aria-required="true" aria-invalid="false" placeholder="password" />
            <span class="input-group-addon"><input type="submit" value="&#xf061"></input></span>
            </div>
     </div>		 </div>
		 <div class="col-md-12">
		   <h4><a href="#" class="text-uppercase"> Already  Have An Account ? <span class="color"> Login Here !</span></a></h4>
		 </div>
		 </form>
       </div>
      </div>
    </div>
  </div>
</div>
<!-- register-popup-modal-box-end  -->
<!----------------------footer_end --->
<script src="js/wow.min.js"></script>
<script src="js/jquery.js"></script> 
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script> 
<!--------------------scrolling-menu-script-start----------------------------->
<script>
// jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('a.page-scroll').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});

// Highlight the top nav as scrolling occurs
$('body').scrollspy({
    target: '.navbar-fixed-top'
})

// Closes the Responsive Menu on Menu Item Click
$('.navbar-collapse ul li a').click(function() {
    $('.navbar-toggle:visible').click();
});
</script>
<!--------------------scrolling-menu-script-start----------------------------->
<!--------------------animation-script-start----------------------------->
<script>
		 new WOW().init();
	 </script>
	 <script>
					wow = new WOW(
						  {
						  boxClass:     'wow',      // default
						  animateClass: 'animated', // default
						  offset:       0,          // default
						  mobile:       true,       // default
						  live:         true        // default
						}
						)
						wow.init();
	 </script>
<!--------------------animation-script-end----------------------------->
</body>
</html>